<%- include('partials/header') %>

<div class="ui main container raised segment">
  <div class="ui items showPage">
    <div class="item">
      <div class="image">
        <img src="<%= book.image %>" alt="" />

        <form
          class="deleteForm"
          method="POST"
          action="/books/<%= book._id %>?_method=DELETE"
        >
          <button class="ui red basic button">Delete</button>
        </form>
        <form
          class="editForm"
          method="GET"
          action="/books/<%= book._id %>/edit"
        >
          <button class="ui orange basic button">Edit</button>
        </form>
      </div>
      <div class="content">
        <div class="header"><%= book.title %></div>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p><%- book.description %></p>
        </div>
        <div class="extra">
          <%= book.author %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
